<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POST YOUR STATUS</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <div class="container mt-5">
        <h1 class="main-msg">kanapa maneh ??!?</h1>
        <form id="form" method="POST">
            {% csrf_token %}
            <div class="form-group row justify-content-center">
                <div class="col-6">
                    <input name="status" type="text" class="form-control" id="status" placeholder="make a status">
                </div>
                <button type="submit" class="btn " style="background: #864747">Submit</button>
            </div>
            
        </form>

        <div class="table-responsive my-5 px-4 py-2">
            <table class="table table-active table-striped table_custom">
                <thead>
                    <tr>
                    <th scope="col" class="header one">No.</th>
                    <th scope="col" class="header two">Time</th>
                    <th scope="col" class="header three">Status</th>
                    </tr>
                </thead>
                <tbody >
                    {% for status in statuses %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{ status.datetime }}</td>
                        <td>{{ status.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
</body>
</html>
